# default for api
stackprinter==0.2.5
# requests==2.28.1
redis==3.5.3
fastapi==0.85.1
uvicorn==0.13.1
protobuf==3.20.1

# common process libs
opencv-python==4.4.0.46
numpy==1.23.5
tritonclient[all]==2.19.0

# current service libs
albumentations
# --extra-index-url https://download.pytorch.org/whl/cpu
# torch==1.13.1
# torchvision
